parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     fossdroid
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    # F-Droid XML repository
    melodycode_fossdroid.remote_path_repo: "https://f-droid.org/repo/index.xml"
    
    # F-Droid Icons path
    melodycode_fossdroid.remote_path_icons: "https://f-droid.org/repo/icons/"
    
    # F-Droid APK path
    melodycode_fossdroid.remote_path_apks: "https://f-droid.org/repo/"
    
    # F-Droid detail app
    melodycode_fossdroid.remote_browser_app: "https://f-droid.org/repository/browse/?fdid="
    
    # Local path where download the icons
    melodycode_fossdroid.local_path_icons: "/var/www/Fossdroid-Core/web/images/icons/"
    
    # how many apps to see
    melodycode_fossdroid.widget_limit: 20
    
    # category icons (https://material.io/icons/)
    melodycode_fossdroid.category_icon:
        wallpaper: "wallpaper"
        system: "settings"
        security: "security"
        science-education: "school"
        reading: "book"
        phone-sms: "phone_android"
        office: "widgets"
        navigation: "navigation"
        multimedia: "video_library"
        internet: "public"
        games: "games"
        development: "developer_mode"
        children: "face"
        theming: "color_lens"
        writing: "border_color"
        time: "access_time"
        connectivity: "device_hub"
        money: "attach_money"
        graphics: "brush"
        sports-health: "directions_bike"
        
    # default category icon (https://material.io/icons/)
    melodycode_fossdroid.category_icon_default: "folder"